.Row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.Box {
    padding: 10px;
    background-color: #FFFDF9;
    border-radius: 10px;
    margin: 20px;
    color: white
}

.circle {
    background: #0B990B;
    line-height: 0;
    border-radius: 50%;
    text-align: center;
    width: 150px;
    height: 150px;
    padding: 0;
    line-height: 0;
    float: left;
}

.typetext{
    font-family: Sans-serif;
    font-style: italic;
    font-size: 18pt;
    color: rgba(254, 254, 254);
    padding-top: 30%;
}

.moneytext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: rgb(0, 0, 0);
}

.insurancetext{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0;
    font-size: 25pt;
    color: #FA8892;
    text-align: vertical;

}

.Box2 {
    padding: 10px;
    background-color: #40b7d8;
    border-radius: 10px;
    margin: 20px;
    margin-right: 0px;
    color: white;
    height: 650px;
    width: 950px;
    float: left;
}

.Box3 {
    padding: 10px;
    background-color: #40b7d8;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    height: 650px;
    width: 500px;
    float: right;
}

.Box4 {
    padding: 10px;
    background-color: #d6651a;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    height: 170px;
    width: 910px;
    flex-direction: column;
}

.headingtext {
    margin-top: 5px;
}

/*
qb means quote button
*/
.qb1{
    margin: 0;
    position: absolute;
    top: 20%;
    left: 58%;
    height: 70px;
    width: 80px;
    border-radius: 10px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.qb2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 58%;
    height: 70px;
    width: 80px;
    border-radius: 10px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.qb3 {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 58%;
    height: 70px;
    width: 80px;
    border-radius: 10px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}