.Row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.Box {
    padding: 10px;
    background-color: #FFFDF9;
    border-radius: 10px;
    margin: 20px;
    color: white
}

.circle {
    background: #0B990B;
    line-height: 0;
    border-radius: 50%;
    text-align: center;
    width: 150px;
    height: 150px;
    padding: 0;
    line-height: 0;
    float: left;
}

.typetext{
    font-family: Sans-serif;
    font-style: italic;
    font-size: 18pt;
    color: rgba(254, 254, 254);
    padding-top: 30%;
}

.moneytext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: rgb(0, 0, 0);
}

.insurancetext{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0;
    font-size: 25pt;
    color: #FA8892;
    text-align: vertical;
    text-align: center;
}

.Box2 {
    padding: 10px;
    background-color: #FA8992;
    border-radius: 10px;
    margin: 20px;
    margin-right: 0px;
    color: white;
    height: 650px;
    width: 925px;
    float: left;
}

.Box3 {
    padding: 10px;
    background-color: #69CA79;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    height: 650px;
    width: 470px;
    float: right;
    text-align: center;
}

.Box4 {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    height: 170px;
    width: 885px;
    flex-direction: column;
}

.headingtext {
    margin-top: 5px;
}

/*
qb means quote button
*/

.quote {
    margin: 10px;
    top: 0%;
    left: 100%;
    margin-bottom: 10px;
    height: 90px;
    width: 180px;
    border-radius: 10px;
    float: right;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.quote:hover{
    background-color: lightcoral;
    cursor: pointer;
}

.Box5 {
    padding: 10px;
    background-color: lightblue;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    height: 75px;
    width: 200px;
}
