@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@1,300&display=swap');
.customButton {
  width: 140px;
  height: 50px;
  letter-spacing: 0.5px;
  background-color: #0f864e;
  color: white;
  font-size: 32px;
  border: 1.5px solid #E0314B;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 60px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  }

.customButton:hover{
  background-color: rgb(25, 26, 24);
  border: 1.5px solid rgb(25, 26, 24);
  }

  .buttons {
    margin: 0;
    position: absolute;
   top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.mystyle{
  height:100vh;
  background: url(./images/login_background.png); 
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; 
}

.appname{
  color: #0B990B;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 72pt;
  text-align: center;
  padding-top: 50;
  line-height: .5;

}

.slogan{
  font-family: 'Source Sans 3', sans-serif;  font-size: 60pt;
  text-align: center;
  color:rgb(250, 137, 146);
  font-size: 36pt;
  line-height: .5;
  padding-top: 40;
}

.loginbox{
  margin: 10;
  line-height: 1.5;
  text-align: center;
  padding: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;

}

.sumbit{
  text-align: center;
  align-items: center;
}

.UserRegister{
    background: url(./backgroundRegister.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.registerInfo{
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    text-align: center;
    line-height: 2;
}



